<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <!-- 引入 ECharts 文件 -->
    <script src="https://cdn.bootcss.com/echarts/3.6.2/echarts.min.js"></script>
    <script src="https://cdn.bootcss.com/jquery/3.2.1/jquery.min.js"></script>
    <!--<script src="https://cdn.bootcss.com/moment.js/2.18.1/locale/en-gb.js"></script>-->
    <title>[{{market}}] ChBTC to poloniex </title>
    <style>
        input {
            width: 120px;
        }

        .info {
            display: flex;
        }

        .info > div {
            width: 200px;
            text-align: center;
        }

        .fl {
            background-color: darkgray;
        }

        .fr {
            background-color: #4ab7ec;
        }

        .mid {
            background-color: aquamarine;
        }

        p {
            display: block;
        }

        .up {
            color: #4ab7ec;
        }

        .down {
            color: red;
        }

    </style>

</head>
<body>
<!-- 为 ECharts 准备一个具备大小（宽高）的 DOM -->
<div id="main" style="width: 100%;height:300px;"></div>
<!--<div id="info" style="width: 100%;height:80px;">
    <ul>
        <li id="content">
            <div class="info">

            </div>
        </li>
    </ul>
</div>-->
<div class="btcinfo">
    <p>当前比特币美元价格: <span id="btcusd"></span></p>
    <p>当前比特币人民币价格: <span id="btccny"></span></p>
    <p>当前CHBTC 人民价格: <span id="chbtcPrice"></span><span id="chbtcPricebl" style="color: #4ab7ec"></span></p>
    <p>预&nbsp;&nbsp;投&nbsp;&nbsp;入: <span id="calctext"></span></p>
    <p>预&nbsp;&nbsp;投&nbsp;&nbsp;入: <span id="calctext2"></span><span id="sjcx" class="down"></span></p>
    <p>预&nbsp;&nbsp;投&nbsp;&nbsp;入: <span>合理的条件:国内BTC上涨,并且{{market}}下跌符合搬砖条件</span></p>
</div>
<div class="info">
    <div class="fl">
        <div>
            poloniex
        </div>
        <p>
            当前价格
        </p>
        <p id="currentpoloniex"></p>
        <p id="currentpoloniexBtc"></p>
    </div>
    <div class="mid">
        <div>
            差价:
        </div>
        <p id="currentcj"></p>
    </div>
    <div class="fr">
        <div>
            CHBTC --> {{market}}
        </div>
        <p>当前价格</p>
        <p id="currentChbtc"></p>
    </div>

</div>
<script>
    $(function () {
        var myChart = echarts.init(document.getElementById('main'));
        var market = '{{market}}';
        var usdcny = '{{usdcny}}';
        var send = '{{send}}';
        var time = '{{time}}';
        var limit = '{{limit}}';
        if (limit == undefined) {
            limit = 2;
        }

        console.log(limit,time);

        //X坐标数量;
        var size = 8;


        var pCoinList = [];
        var chbtcList = [];
        var timeList = [];
        var subList = [];
        var currentSub = 0;
        var isSpeak = false;
        var speakInterval = 30000;
        if (time > 10) {
            speakInterval = time * 1000;
        }

        function doQuery() {
            var d = new Date();
            var time = (d.getHours() + ':' + d.getMinutes() + ':' + d.getSeconds());
            timeList.push(time);
            if (timeList.length > size) {
                //弹出最后一个元素;
                timeList.shift();
            }
            var min = 0;
            var url = 'getChbtcPHomeDetail?market=' + market + '&usdcny=' + usdcny + '&send=' + send;
            $.ajax({
                url: url,
                success: function (data) {
                    showInfo = true;
                    var _currentpoloniex = Number(data.pData.currencyprice).toFixed(8);
                    var _currentChbtc = Number(data.chbtcData.ticker.sell);
                    var _currentChbtcPrice = Number(data.chbtcBTCPrice.ticker.sell);
                    if (_currentpoloniex > $('#currentpoloniex').html()) {
                        setTimeout(function () {
                            $('#currentpoloniex').css('color', '#17cc5f');
                        }, 800)
                        setTimeout(function () {
                            $('#currentpoloniex').css('color', '#cc4a24');
                        }, 1500)
                    }
                    $('#currentpoloniex').html(_currentpoloniex);
                    $('#currentpoloniexBtc').html('TOBTC:' + Number(data.pData.tobtcprice).toFixed(8));
                    if (_currentChbtc > $('#currentChbtc').html()) {
                        setTimeout(function () {
                            $('#currentChbtc').css('color', '#ccc');
                        }, 800)
                        setTimeout(function () {
                            $('#currentChbtc').css('color', '#cc4a24');
                        }, 1500)

                    }

                    $('#currentChbtc').html(_currentChbtc);
                    chbtcList.push(_currentChbtc);
                    pCoinList.push(_currentpoloniex)
                    currentSub = (Number((_currentChbtc - _currentpoloniex  ) / _currentChbtc) * 100 ).toFixed(3);
                    subList.push(currentSub);
                    $('#currentcj').html(currentSub + '%');
                    $('#btcusd').html(data.pData.btcusdprice);
                    $('#btccny').html(data.pData.btccny);
                    $('#chbtcPrice').html(_currentChbtcPrice);
                    $('#chbtcPricebl').html('&#9;&#9;当前差价率:' + (Number((_currentChbtcPrice - data.pData.btccny) / _currentChbtcPrice * 100).toFixed(4)) + '%');

                    if (pCoinList.length > size) {
                        pCoinList.shift()
                    }
                    if (chbtcList.length > size) {
                        chbtcList.shift()
                    }
                    if (subList.length > size) {
                        subList.shift();
                    }


                    min = ( min == 0 ? data.chbtcData.ticker.sell : min);
                    min = (min > data.chbtcData.ticker.sell ? data.chbtcData.ticker.sell : min);
                    min = (min > data.pData.currencyprice ? data.pData.currencyprice : min);
                    min = Number(min * 0.96).toFixed(2);
                    if (showInfo) {

                        var inPrice = 2000;
                        var inQut = ( (inPrice / _currentChbtc)).toFixed(4);
                        var outPrice = (inPrice / _currentChbtc * _currentpoloniex).toFixed(4);
                        var str = '在国内投入2000可以买到:[' + market + ']\t' + inQut + '在国外可以卖到:[' + outPrice + ']\t';
                        str = str + '盈利占比[' + ((((outPrice - inPrice) / inPrice)) * 100).toFixed(4) + '%]\t';
                        $('#calctext').html(str);

                        var coinCount = 1000;
                        var _s = '国内' + coinCount + '个币转到国外:(' + coinCount + '*' + Number(data.pData.tobtcprice).toFixed(8) + '*' + Number(data.chbtcBTCPrice.ticker.sell) + ') / ' + Number(data.chbtcData.ticker.sell)
                        var _sum = (coinCount * Number(data.pData.tobtcprice).toFixed(8) * Number(data.chbtcBTCPrice.ticker.sell) ) / Number(data.chbtcData.ticker.sell);
                        _sum = _sum.toFixed(3);
                        var _cj = ((1 - coinCount / _sum) * 100).toFixed(3);
                        _s = _s + ' = ' + _sum;

                        $('#calctext2').html(_s);
                        $('#sjcx').html(' 差价:' + _cj + '%');
                        if (_cj > limit) {
                            speckText('当前' + market + '差价超过' + _cj + '%');
                        }
                    }

                    option = {
                        title: {
                            text: '走势图[ ' + market + ' ]',
                            subtext: ''
                        },
                        tooltip: {
                            trigger: 'axis'
                        },
                        legend: {
                            data: ['PoloNiex', 'CHBTC']
                        },
                        toolbox: {
                            show: true,
                            feature: {
                                mark: {show: true},
                                dataView: {show: true, readOnly: false},
                                magicType: {show: true, type: ['line', 'bar']},
                                restore: {show: true},
                                saveAsImage: {show: true}
                            }
                        },
                        calculable: true,
                        xAxis: [
                            {
                                type: 'category',
                                boundaryGap: false,
                                data: timeList
                            }
                        ],
                        yAxis: [
                            {
                                type: 'value',
                                min: min,
                                axisLabel: {
                                    formatter: '{value}'
                                }
                            }
                        ],
                        series: [
                            {
                                name: 'PoloNiex',
                                type: 'line',
                                data: pCoinList,
                                markPoint: {
                                    symbolSize: 100,
                                    data: [
                                        {type: 'max', name: '最大值'},
                                        {type: 'min', name: '最小值'}
                                    ]
                                },
                                markLine: {
                                    data: [
                                        {type: 'average', name: '平均值'}
                                    ]
                                }
                            },
                            {
                                name: 'CHBTC',
                                type: 'line',
                                data: chbtcList,
                                markPoint: {
                                    symbolSize: 100,
                                    data: [
                                        {type: 'max', name: '最大值'},
                                        {type: 'min', name: '最小值'}
                                    ]
                                },
                                markLine: {
                                    data: [
                                        {type: 'average', name: '平均值'}
                                    ]
                                }
                            }
                        ]
                    };
                    myChart.setOption(option);

                },
                error: function (data) {
                    console.log('error', data)
                }
            });
        }

        setInterval(function () {
            doQuery();
        }, 5000);

        function speckText(str) {
            console.log(str);
            if (isSpeak) return;
            isSpeak = true;
            var url = "http://tts.baidu.com/text2audio?lan=zh&ie=UTF-8&text=" + encodeURI(str);        // baidu
            var n = new Audio(url);
            n.src = url;
            n.play();
            setTimeout(function () {
                isSpeak = false;
            }, speakInterval);
        }
    });

</script>

</body>
</html>